<mat-card class="card mat-elevation-z10">
    <mat-card-header>
      <mat-card-title><strong>Let-Vet</strong></mat-card-title>
      <mat-card-subtitle>Letícia Ramalho - Medicina Veterinária</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/img/med-vet.svg" alt="Let-Vet | Medicina Veterinária">
    <mat-card-content>
      <p>
        Olá! Sejam bem vindos ao sistema Let-Vet.<br>
        Trata-se de um sistema para gerenciamento de consultas dos seus pets, cujo objetivo é facilitar e agilizar o atendimento dos pets, com total transparência para os seus tutores.<br> 
      </p>
      <p>
         Esse utilitário simula consultas em uma determinada clínica veterinária, desenvolvido em Angular 12 e Spring Boot 2. O mesmo está rodando na nuvem sendo o front-end no Vercel e o back-end no Heroku. O código fonte do projeto pode ser acessado clicando no link GitHub no menu lateral. 
      </p>
      <hr>
      Tamara Ramalho
    </mat-card-content>
  </mat-card>