<div class="container">
    <form class="form mat-elevation-z8">
        <h1>Let-Vet | Medicina Veterinária</h1>
        <img src="assets/img/med-vet.svg" alt="">
        <mat-form-field class="full-width" appearance="fill">
            <mat-label>E-Mail: </mat-label>
            <input matInput placeholder="Ex. pessoa@mail.com">
        </mat-form-field>

        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Senha: </mat-label>
            <input type="password" matInput placeholder="Ex. 123">
        </mat-form-field>

        <button class="full-width mat-elevation-z4" mat-stroked-button color="login">Entrar</button>
    </form>
</div>