.container {
    height: 100%;
    background: linear-gradient(346deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(152,0,171,1) 0%, rgba(255,14,148,1) 82%);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto auto 3rem auto;
}

.form {
    width: 20rem;
    margin: auto;
    padding: 3rem 1rem;
    border-radius: 1rem;
    background-color: #303030;
    color: white;
}

h1 {
    color: white;
    margin-top: -1rem;
    width: 100%;
    text-align: center;
    font-weight: bold;
}

img {
    height: 18rem;
    width: 100%;
    margin: auto;
}

.full-width{
    margin-top: 1rem;
    width: 100%;
}

button {
    margin-top: 1.5rem;
    align-items: center;
}

mat-icon {
    opacity: .6;
 }